* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('437716.jpg') no-repeat center center fixed;
  background-size: cover; /* Fully cover the viewport */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  
  .login-box {
    background-color: rgba(230, 226, 226, 0.8); /* semi-transparent dark box */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    max-width: 350px;
    width: 100%;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #131212;
  }
  
  .login-box label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    font-weight: 500;
    color: #131212;
  }
  
  .login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid rgba(230, 226, 226, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    font-size: 15px;
  }
  
  .login-box button {
    width: 100%;
    padding: 12px;
    background-color: #19a33c;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-box button:hover {
    background-color: #085f0c;
  }
  .login-box .logo {
    display: block;
    margin: 0 auto 15px auto; /* center and add spacing below */
    max-width: 260px; /* scale image size */
    height: 147px;
  }
  
  .error-box {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  .error-message {
    display: none;
    color: #f44336; /* red color */
    margin-top: 10px;
    opacity: 1;
    transition: opacity 1s ease;
  }